@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lavishly+Yours&family=Sacramento&display=swap');

* {
   margin: 0;
  }
  
body{
    /*Rajout même background que l'accueil*/
        background-image: url("img/background-image.png");
        font-family: "roboto";
        font-size: 20px;
    }

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.title{
    font-family: "sacramento";
    font-size: 60px;
    color: purple;
}

.title-modal{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "sacramento";
    color: purple;
}

p{
    font-family: "cookie";
    font-size: 30px;
    color: purple;
    
}

.bouton{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

#choix{
    width: 100px;
    height: 30px;
    background-color: floralwhite;
    border: 1px solid;
    border-radius: 10px;
    font-size: 25px;
    font-family: "cookie";
    color: purple;
  }

#modal{
    width: 35%;
    height: 75%;
    border-radius: 20px;
    background-image: url("img/background-image.png");
    border: 1px solid;
}

#date{
    width: 95%;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    background-color: floralwhite;
}



input[type=text], textarea {
    width: 95%;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    background-color: floralwhite;
}

#map{
    height: 600px;
    width: 730px;
    position: relative;
    padding: 50px;
    margin: auto;

}

.popup{
    position: relative;
    height: 20px;
    width: 250px;
    border: 1px solid;
} 


.connexion{
    font-size: 20px;
  }
  
.desktop {
    height: 73px;
  }

nav {
    background-color: #E9B3A3;
    display: flex;
  }
  /*Enlever le soulignement du lien hypertexte et enlever la couleur bleu du lien*/
.desktop a, .footer-desktop a {
    text-decoration: none;
    color: black;
  }

.en-tete {
    display: none;
  }

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  
.en-tete {
    background-color: #F8C471;
    font-family: "Cookie";
    gap: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
.mobile {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background-color: #F8C471;
    text-align: center;
  }
.footer-desktop {
    display: flex;
    height: 73px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
.icone-mobile {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  
.icone-nav {
    border-radius: 5px;
    background-color: #FADBD8;
  }
  
  /* propriétés pour que le lien hypertexte ne rendent pas les icones bleu
   et que la ligne du lien ne soit pas là*/
.icone-mobile a {
    text-decoration: none;
    color: black;
  }
  
.en-tete a {
    text-decoration: none;
    color: black;
  }
  
.en-tete-texte {
    font-size: 25px;
  }
  
  /* pour que le nom du site et le logo ne soit pas collé aux bords*/
.en-tete {
    padding: 5px;
  }
  
footer {
    background-color: wheat;
    padding-right: 30px;
    padding-left: 30px;
  }
footer ul {
    width: 120%;
    cursor: pointer;
    gap: 20px;
  }

.reseaux {
    display: flex;
  }

.reseau {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 50px;
  }
.mobile {
    display: none;
  }
.en-tete {
    display: none;
  }
/*# sourceMappingURL=main.css.map */